


body {
    background-image: url("http://cdn.wallpapersafari.com/26/2/UNhoE1.jpg");
    background-size: cover;
}

html,body,h1,h2,h3,h4,h5,h6 {
	font-family: "Roboto", sans-serif;
	color:white;
}

.margin-right{
	margin-right: 16px!important;
}

.text-large{
	font-size:18px !important;
}

.text-grey{
	color:#757575!important;
}

.background-gray{
	background-color: rgba(169,169,169,0.7);
}