


body {
    background-image: url("http://cdn.wallpapersafari.com/26/2/UNhoE1.jpg");
    background-size: cover;
}

html,body,h1,h2,h3,h4,h5,h6 {
	font-family: "Roboto", sans-serif;
	color:white;
}

.animate-left{
	position:relative;animation:animateleft 0.4s
}
@keyframes animateleft{
	from{left:-300px;opacity:0}
	 to{left:0;opacity:1}
}

.animate-bottom{
	position:relative;animation:animatebottom 0.4s
}

@keyframes animatebottom{
	from{bottom:-300px;opacity:0} 
	to{bottom:0;opacity:1}
}

.display-none{
	display:none;
}

.margin-right-16{
	margin-right: 16px!important;
}

.margin-top-10{
	margin-top: 10px!important;
}

.text-large{
	font-size:18px !important;
}

.text-grey{
	color:#757575!important;
}

.text-white{
	color:white !important;
}

.background-gray{
	background-color:rgba(84, 84, 84, 0.75);
    background-clip: padding-box;
    border: 1em solid transparent;
    border-radius: 2em;
}

.setting-input{
	color:darkgray;
	border-radius:25px;
	margin:10px;
}