


body {
    background-image: url("http://cdn.wallpapersafari.com/26/2/UNhoE1.jpg");
    background-size: cover;
}

html,body,h1,h2,h3,h4,h5,h6 {
	font-family: "Roboto", sans-serif
}

.footer {
    background-color:rgba(84, 84, 84, 0.75);
    background-clip: padding-box;
    border: 1em solid transparent;
    border-radius: 3em;
}

.footer-body {
    padding: 1.5em;
}

.footer:hover {
    opacity: 0.8;
}
