.cont{
  position: relative;
  background-image: url("http://cdn.wallpapersafari.com/26/2/UNhoE1.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  display: table;
  height: 100%;
  width:100%;
}

label{
  margin-left: 12px;
}

.form-group {
  color: black!important;
  width: 80%;
  display: inline-block;
}

.form-control{
  margin-left: 10px;
  border-radius: 1em;
}
